<div class="container flex-container" *ngIf="repository">
    <img [src]="repository.owner.avatar_url" alt="">
    <div class="smallContainer">

        <h2>Repository's full name: {{repository.full_name | replace}}</h2>
        <p><span>Repository Description : {{repository.description}}  
                <a href="https://tensorflow.org" target="_blank">https://tensorflow.org</a>
            </span>
        </p>
        <p>Repository created at: {{repository.created_at | date : 'medium'}}</p>
        <p>Repository updated at: {{repository.updated_at | date : 'medium'}}</p>
        <p>Repository pushed at: {{repository.pushed_at | date : 'medium'}}</p>

        <button type="button" class="btn btn-primary">Number of stars: {{repository.forks_count}}</button>
        <button type="button" class="btn btn-primary">Number of issues: {{repository.open_issues_count}}</button>
        <button type="button" class="btn btn-primary" (click)="goBack()">go back</button>


        <span>submited 30 days ago by tensorflow</span>

    </div>

</div>
