<!-- <p>{{repositories | json}}</p>  -->
<ng-container *ngFor="let item of repositories | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" >
    <div class="container flex-container">
        <img [src]="item.owner.avatar_url" alt="">
        <div class="smallContainer">
            <!-- "http://localhost:4200/home/detail" target="_blank" -->
            <h2><a routerLink="detail/{{item.id}}" >{{item.name}}</a></h2>
            <p><span>{{item.description }}
                    <a href="https://tensorflow.org" target="_blank">https://tensorflow.org</a>
                </span>
            </p>
            
            <button type="button" class="btn btn-primary">Stars: {{item.forks_count}}</button>
            <button type="button" class="btn btn-primary">Issues: {{item.open_issues_count}}</button>


            <span>submited 30 days ago by tensorflow</span>

        </div>

    </div>
    <br />
</ng-container>
<div class="flexContainer">
<ngb-pagination [collectionSize]="repositories?.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="(repositories?.length/pageSize)" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
</div>