img {
  width: 100px;
  height: 125px;

  margin-right: 10px;
}
button {
  margin-right: 10px;
}
.smallContainer {
  display: inline-block;
  margin-bottom: 10px;
}
.flex-container {
  display: flex;
}
.flexContainer {
  display: flex;
  justify-content: center;
}
